body{
    font-family: sans-serif;
}

span{
    text-decoration: underline 2px red;
}

a{
    text-decoration: none;
    text-decoration: underline red 2px;
    background-color: rgb(175, 255, 255);
}

img{
    width: 50%;
    height: 50%;
}

#bm-para1{
    border: 5px solid green;
    padding: 20px;
    margin: 30px;
}


#bm-img{
    width: 30%;
    height: 500px;

    border: 5px dashed red;
    margin: 2em;
}
#bm-div{
    width: 80%;
    height: 500px;

    background-image: linear-gradient(green, yellow);
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
}

#bm-img2{
    padding-top: 100px;
    border: 10px blue dashed;
    margin-bottom: 30px;
}
#bm-div2{
    background-color: black;
    width: 80%;
}