body{
    font-family: sans-serif;
}

.container div, .container-2 div, .container-3 div{
    border: 2px red solid;
    padding: 10px;
}

.container{
    display: flex;
    /* align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    flex-direction: column;
    */
}

.box-1{
    flex: 2;
    order: 2;
}
.box-2{
    flex: 1;
    order: 1;
}
.box-3{
    flex: 1;
    order: 3;
}

/*  */

.container-2{
    display: flex;
    /*
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
    */
    justify-content: space-between;
}
.container-2-box{
    flex-basis: 20%;  /* Same as width */
}

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-3-box{
    flex-basis: 13%
}

/*  */
/*  */

.insta-container-block{
    display: flex;
    justify-content: center;
    align-content: center;
}

.insta-pic{
    width: 21%;
    margin: 1%;
}

/*  */
/*  */
/*  */


.nav-container{
    background: lightgreen;
    
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}
.nav-container nav{
    border: 1px red solid;
    padding: 5px;
    margin: 5px;
    font-size: larger;
    background: linear-gradient(to top, pink, lightblue);
    color: black;

    /* flex-basis: 10px; */
}
/*  */
.nav-items{
    flex-grow: 1;
    /* flex-shrink: 0; */
    flex-basis: 10px;
}

.about-us{
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 10px;
}

.hire{
    flex: 3 1 10px;
}