body{
    font-family: sans-serif;
}

.grid-container div{
    background-color: grey;
    padding: 1em;
}

.grid-container div:nth-child(odd){
    background-color: pink;
}



.grid-container{
    display: grid;
    gap: 1rem;

    /* grid-template-columns: 20% 10% 20% 40%; */
    grid-template-columns: repeat(3, 1fr); /* 3 rows and 1fr will equally distribute the space.*/
}

.grid-col-span{
    grid-column: span 2;
}
.grid-col-span-full{
    grid-column: span 3;
}

/*  */


.grid-container-2 div{
    background: linear-gradient(to bottom, pink, violet);
    padding: 1em;
    font-weight: bolder;
}
.grid-container-2{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 2fr 1fr;

    grid-auto-rows: minmax(100px, auto);
    /* justify-items: center; */
    justify-items: stretch;
    /* align-items: center; */
}

.box-1{
    /* align-self: start; */
    grid-column: span 2;
}
.box-2{
    /* align-self: end; */
    grid-row: span 2;
}
/*
.box-3{
    align-self: end;
}
*/
/* 
.box-4{
    justify-self: start;
    grid-column: span 2;
}
*/

/*  */
/*  */


.images-container img{
    width: 80%;
    padding: 3%;
    border: 1px solid black;
}


.images-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2em;
}
