body{
    font-family: sans-serif;
}

.images-container img{
    width: 100%;
    margin: .6em 0em .6em 0em;

}

.images-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin: 0px 50px 0px 50px;
    align-items: start;
}