body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
a {
    color: white;
    font-size: larger;
}

strong {
    color: aqua;
}

.error{
    padding: 10px;
    color: crimson;
    padding: 0;
    margin: 0;
}
.success{
    padding: 10px;
    color: limegreen;
    padding: 0;
    margin: 0;
}